@import "tailwindcss";

@keyframes float {
  0% { transform: translateY(0) rotate(0deg) scale(0); opacity: 0; }
  20% { opacity: 0.8; }
  100% { transform: translateY(-110vh) rotate(360deg) scale(1.5); opacity: 0; }
}

.animate-float {
  animation: float 10s linear infinite;
  position: absolute;
  will-change: transform;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #1a0b0c; /* Fallback color */
}